.main{
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color:white;
    line-height: 1.5;
    background-color:red;
    text-indent: 500PX;
    text-transform: uppercase;
    letter-spacing: 2PX;
    font-style: italic;
}   